.box{
	display: flex;
	justify-content: space-between;
	height: 500px;
	align-items: center;

}
ul{
	list-style: none;
}
.child{
	height: 300px;
	width: 300px;
	background-color: #C3D7D8;
	/*border: 4px solid #000;*/
	/*border-top: 4px solid #000;*/
	/*border-bottom: 4px solid #000;*/
	/*margin: 40px;
	padding: 5px;*/
}
.child1{
	height: 300px;
	width: 300px;
	background-color: #C3D7D8;
	/*border-top: 4px solid #000;*/
	/*border-bottom: 4px solid #000;*/
	/*margin: 40px;
	padding: 5px;*/
}
.social img{
	width: 100px;
}